
.container_all{
    background-image: url("../../images/back/andrey-haimin-VFUTPASjhB8-unsplash.jpg");
    background-size: 100% ;
    
}

.header{
    display: flex;
    padding: 0.5em;
    height: 10em;
    width: 60%;
    justify-content: space-between;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../../images/back/roman-grachev-eygJ8wxgfng-unsplash.jpg");
    
}

.h1{
    font-size: 6em;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.navbar-brand{
    font-weight: 800;
    font-size: 2em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.card{
    background-color: rgb(0, 0, 0, 0.9);
}

.card_index{
    background-color: black;
    color: white;
    width: 15em;
    height: 15em;
    margin: 20px;
    border-radius: 10px;
}

.img-fluid{
    width: 100%;
    height: 18em;
    border-radius: 10px;
    margin: 15px;
}

.input-group{
    width: 90em;
    height: 3em;
    position: absolute;
    top: 25em; left:30em; 
}

.carousel {
    width:70em; 
    height:20em; 
    margin:20px; 
    background-color: white
}

.col-md-4 img{
    height:10em;
    width:10em
}

.form_new_show{
    width:50%;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


@media (min-width: 360px) {

    .container_all{
    background-image: url("../../images/back/andrey-haimin-VFUTPASjhB8-unsplash.jpg");
    background-size: 100% ;
}

.header{
    height: 4em;
    width: 100%;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../../images/back/roman-grachev-eygJ8wxgfng-unsplash.jpg");
}

.header h2{
    color: white;
    font-size: 2em;
    padding: 10px;
    font-weight: 700;
}

.navbar-brand{
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


.card img {
    width: 95%;
    height: 190px;
}

.input-group{
    width: 300px;
    height: 3px;
    position: absolute;
    top: 10em; left: 3em; 
} 

.card-img-overlay{
    color: white;
    font-style: italic; 
    font-family: 'Times New Roman', Times, serif; 
    text-align:left
}

.card-img-overlay h2{
    font-size: 20px;
}

.card-img-overlay h3{
    display: none;
}

.h2 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: left; 
    font-size: 2em;   
}

.carousel {
    width:250px;  
    height: 15em;
    background-color: rgba(255, 255, 255, 0.377)
}

.carousel-item_active {
    width: 100%;
    height: 100%;
    color:rgb(247, 246, 242);
    border-radius: 20px;
}

.carousel-item {
    width: 100%;
    height: 100%;
    color:rgb(247, 246, 242);
    border-radius: 20px;
}

.card-text{
    display: none;
}

.col-md-4 img{
    height:6em;
    width:6em
}

.carousel-control-prev{
    width: 2em;
    background-color: rgb(92, 90, 90);
    height: 2em;
}
.carousel-control-next{
    width: 2em;
    background-color: rgb(92, 90, 90);
    height: 2em ;
}

.card_display{
    display: inline-flex;
    width: 350px;
    padding:10px; 
    margin:10px;
    background-color:black;
    color:white; 
    border-radius:20px;
}

 .card_display img{
    display: inline-flex;
    width:5em;
} 

.form_new_show{
    width:50%;
}

  } 

  @media (min-width: 700px) {

.container_all{
    background-image: url("../../images/back/andrey-haimin-VFUTPASjhB8-unsplash.jpg");
    background-size: 100% ;
}

.header{
    height: 5em;
    width: 100%;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../../images/back/roman-grachev-eygJ8wxgfng-unsplash.jpg");

}

.h1{
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.navbar-brand{
    font-weight: 800;
    font-size: 2em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

    
.card img {
    width: 95%;
    height: 190px;
}
    
    .input-group{
        width: 90%;
        position: absolute;
        top: 10em; left: 3em; 
    } 


.card-img-overlay{
    color: white;
    font-style: italic; 
    font-family: 'Times New Roman', Times, serif; 
    text-align:left
}

.card-img-overlay h2{
    font-size: 30px;
}

.card-img-overlay h3{
    display: initial;
    font-size: 20px;
}

.carousel {
    display: inherit;
    width:90%;  
    height: 12em;
    background-color: rgba(255, 255, 255, 0.377)
}

.carousel-item active {
    width: 98%;
    height: 90%;
    color:rgb(247, 246, 242);
    border-radius: 20px;
}

.card-text{
    display: initial;
}

.carousel-item {
    width: 98%;
    height: 90%;
    color:rgb(247, 246, 242);
    border-radius: 20px;
}

.col-md-4 img{
    height:10em;
    width:10em
}

.carousel-control-prev{
    width: 2em;
    background-color: rgba(0, 0, 0);
    height: 2em;
}
.carousel-control-next{
    width: 2em;
    background-color: rgba(0, 0, 0);
    height: 2em ;
}

.card_display{
    display: inline-flex;
    width: 25em;
    height: 16em;
    padding:10px; 
    margin:10px;
    background-color:black;
    color:white; 
    border-radius:20px;
}

 .card_display img{
    display: inline-block;
    width:11em;
    height: 100%;
} 

.form_new_show{
    width:50%;
}

  } 

  @media (min-width: 1000px) {

    .container_all{
        background-image: url("../../images/back/andrey-haimin-VFUTPASjhB8-unsplash.jpg");
        background-size: 100% ;
        width: 60%;
    }
    
    .header{
        height: 3em;
        width: 70%;
        position: relative;
        left: 8em;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2em;
        color: black;
        background-image: url("../../images/back/roman-grachev-eygJ8wxgfng-unsplash.jpg");
        background-size: 70%;
    }
    
    .h1{
        font-size: 5em;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }
 
    .h2{
        font-size: 2.5em;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        margin: 20px;
        width: 15%;
        text-align: center;
    }

    .navbar{
        height: 3em;
        font-size: 12px;
    }

    .navbar-brand{
        font-weight: 800;
        font-size: 2em;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        color: white; 
        margin-left: 2em;
    }
        
        .card img {
            width: 95%;
            height: 21em;
        }

        .card-text{
            display: initial;
        }
        
        .input-group{
            width: 80%;
            height: 5px;
            position: absolute;
            top: 19.5em; left: 7em; 
        } 
    
    
    .card-img-overlay{
        color: white;
        font-style: italic; 
        font-family: 'Times New Roman', Times, serif; 
        text-align:left
    }
    
    .card-img-overlay h2{
        font-size: 35px;
    }
    
    .card-img-overlay h3{
        display: initial;
        font-size: 30px;
    }
    
    .carousel {
        width:60%;
        height: 12em;
        background-color: rgba(255, 255, 255, 0.377)
    }
    
    .carousel-item {
        width: 95%;
        height: 95%;
        color:rgb(247, 246, 242);
        border-radius: 20px;
        margin-left: 1em;
    }
    
    .col-md-4 img{
        height:10em;
        width:10em
    }
    
    .carousel-control-prev{
        width: 2em;
        background-color: rgba(0, 0, 0);
        height: 10em;
    }
    .carousel-control-next{
        width: 2em;
        background-color: rgba(0, 0, 0);
        height: 10em ;
    }
    
    .card_display{
        display: inline-flex;
        width: 25em;
        padding:15px; 
        margin:10px;
        background-color:black;
        color:white; 
        border-radius:20px;
    }
    
     .card_display img{
        display: inline-flex;
        width:10em;
        height: 10em;
    }  

    .form_new_show{
        width:60%;
        background-color: rgb(0, 0, 0, 0.6);
        color: cornsilk;
    }
    
  } 
 