{% extends 'front/base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}

    <div class="card bg-dark text-white">
       <img src="../images/back/oldelpachot-5l-Q8p_feHE-unsplash.jpg" class="img-fluid" alt="gastronomy dish">
      <div class="card-img-overlay">
      
        <h1 class="card-title" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right; font-size: 5em;"><strong>Le Blog </strong></h1>
        <h3 class="card-text" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right;"><strong>Fait par des chefs, pour des chefs</strong></h3>
      </div>
        
    </div>

    <h1>Créer un nouvel Article</h1>

    {{ include('front/blog/_form.html.twig') }}

    <a href="{{ path('blog_index') }}">retour aux articles</a>
{% endblock %}
