{% extends 'front/base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Liste des ingredients</h1>

        {% for ingredient in ingredients %}
            
        <div class="card" style="display: inline-flex; width:15em; height: 15em;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ ingredient.name }}</p>
                <p class="card-text"><a href="{{ path('ingredient_show', {'id': ingredient.id}) }}">Détails</a>
            </div>
        </div>      
            {% endfor %}    
     <br>       

    <a href="{{ path('ingredient_new') }}">Créer Nouvel Ingredient</a>
    <p><a href="{{ path('recipe_index') }}">Retour aux recettes</a></p>
{% endblock %}
