{% extends 'front/base.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block body %}

<div class ="form_new_show">
    <h1>Create new Ingredient</h1>

    {{ include('front/ingredient/_form.html.twig') }}
</div>
    <a href="{{ path('ingredient_index') }}">Retour aux recettes </a>
{% endblock %}
