{% extends 'front/base.html.twig' %}

{% block title %}Liste des Pays{% endblock %}

{% block body %}


<h1> Liste des Pays</h1>


<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">


{% for country in countries %}
 <div class="card" style="display: inline-flex; width:15em; height: 15em;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ country.name }}</p>
                <p class="card-text"><a href="{{ path('country_show', {'id': country.id}) }}">Détails</a>
            </div>
        </div>     
   {% endfor %}   

</ul>
   </div>
</div>


<br>
 
<a href="{{ path('recipe_index') }}">Retour</a>

{% endblock %}
