{% extends 'front/base.html.twig' %}



{% block body %}
   {% block title %}<h1>{{ country.name }}</h1>{% endblock %}

<div class="form_new_show">
    <table class="table">
        <tbody>
    
            <tr>
                <th>Image</th>
                <td>{{ country.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ country.description }}</td>
            </tr>
           
        </tbody>
    </table>
</div>
    <a href="{{ path('country_index') }}">Retour</a>
{% endblock %}
