{% extends 'front/base.html.twig' %}


{% block body %}
<body>

    <div class="card bg-dark text-white">
       <img src="../images/back/aaron-blanco-tejedor-I0xbweg06KU-unsplash.jpg" class="img-fluid" alt="gastronomy dish">
      <div class="card-img-overlay">
        <h1 class="card-title" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: left ;"><strong>Pour l'amour de la gastronomie</strong></h1>
        <h3 class="card-text" style="color: black; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: left ;">Fait par des chefs, pour des chefs</h3>
      </div>


        <div class="input-group mb-1">
          <button class="btn btn-outline-warning" type="button" id="button-addon1" style="width: 30em;">Rechercher</button>
          <input type="text" class="form-control" id="search-user" placeholder="Faites une recherche rapide" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>

    </div>


<div class="week_blog">

    <div class="card mb-3" style="max-width: 600px; padding: 20px; margin:30px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 600px; padding: 20px; margin:30px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}
