
.wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
}


.body_block {
    text-align: center;
     width: 100%;
    height: 50%; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-image: url("../images/back/edgar-castrejon-s6BrlKXy7e0-unsplash.jpg");
}

#sidebar.active {
    margin-left: -250px;
}

.navbar-brand{
    font-size: xx-large;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

