{% extends 'back/base.html.twig' %}

{% block title %}Liste des Types D'aliments{% endblock %}

{% block body %}


<h1> Liste des Types d'aliments</h1>


<br>

<div class="d-grid gap-2 col-4 mx-auto">
 <button type="button" class="btn btn-outline-dark"><a href="{{ path('admin_type_new') }}">Créer un nouveau Type Alimentaire </a></button>
</div>

<br>

<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">

    {% for type in types %}
  <div class="btn btn-outline-dark"><li class="list-group-item"><a href="{{ path('admin_type_show', {id : type.id}) }}">{{ type.name }}</a></li></div>
    {% endfor %}
     
   </div>
</div>

<br>
 
<a href="{{ path('homepage') }}">Back to homepage</a>

{% endblock %}
