{% extends 'back/base.html.twig' %}

{% block title %}Liste des Recettes{% endblock %}

{% block body %}


<h1> Liste des Recettes</h1>


<br>

<div class="d-grid gap-2 col-4 mx-auto">
 <button type="button" class="btn btn-outline-dark"><a href="{{ path('admin_recipe_new') }}">Créer un nouvelle Recette </a></button>
</div>

<br>

<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">

    {% for recipe in recipes %}
  <div class="btn btn-outline-dark"><li class="list-group-item"><a href="{{ path('admin_recipe_show', {id : recipe.id}) }}">{{ recipe.name }}</a></li></div>
    {% endfor %}
     
   </div>
</div>

<br>
 
<a href="{{ path('homepage') }}">Back to homepage</a>

{% endblock %}
