{% extends 'back/base.html.twig' %}

{% block title %}Edit Learn{% endblock %}

{% block body %}
    <h1>Edit Learn</h1>

    {{ include('back/learn/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_learn_index') }}">back to list</a>

    {{ include('back/learn/_delete_form.html.twig') }}
{% endblock %}
