{% extends 'front/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class ="form_new_show">

    <h1>Modifier Profile</h1>

    {{ include('front/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_show', {'id': user.id}) }}">Retour</a>

    {{ include('front/user/_delete_form.html.twig') }}

</div>
{% endblock %}
